#page
  .main-box
    - if @question.present?
      %h1.title-window.tablet-title Are money worries affecting your health?
      %h1.title-window.smartphone-title Money and your health

      .content.subpage
        .title-paragraph== Question #{@question.current_position} of #{Question.all.count}
        %p.text=@question.title

        = form_tag preview_questionnaire_continue_path(@questionnaire), method: :put, id: "choose-time" do
          = hidden_field_tag :current, @question.row_order
          .cf
            - if @answer.present?
              .answered-question{answer_id: @answer.id}
                %label.input-radio{ for: "first-option", style: 'text-align: left;'}
                  %span.label-block= @question.answers[0].title
                  %input{type: "radio", value: @question.answers[0].id, name: "answer", id: "first-option"}

                %label.input-radio{ for: "second-option", style: 'text-align: left;'}
                  %span.label-block= @question.answers[1].title
                  %input{type: "radio", value: @question.answers[1].id, name: "answer", id: "second-option"}

                %label.input-radio{ for: "third-option", style: 'text-align: left;'}
                  %span.label-block= @question.answers[2].title
                  %input{type: "radio", value: @question.answers[2].id, name: "answer", id: "third-option"}
            - else
              %label.input-radio{ for: "first-option", style: 'text-align: left;'}
                %span.label-block= @question.answers[0].title
                %input{type: "radio", value: @question.answers[0].id, name: "answer", id: "first-option"}

              %label.input-radio{ for: "second-option", style: 'text-align: left;'}
                %span.label-block= @question.answers[1].title
                %input{type: "radio", value: @question.answers[1].id, name: "answer", id: "second-option"}

              %label.input-radio{ for: "third-option", style: 'text-align: left;'}
                %span.label-block= @question.answers[2].title
                %input{type: "radio", value: @question.answers[2].id, name: "answer", id: "third-option"}


            .holder-button.cf
              - if @questionnaire.previous_question?(@question.row_order)
                = link_to "Prev", preview_questionnaire_previous_path(@questionnaire, current: @question.row_order), class: "previous-question button-direction left", remote: true
              %button{class: 'submit-question button-direction right', disabled: 'disabled', type: "submit"}
                Next
    - else
      %h1.title-window.tablet-title Are money worries affecting your health?
      %h1.title-window.smartphone-title Money and your health
      .inner
        .top-part
          .top
            %h2.title-top Your result
            = link_to 'Email result', '#', class: 'link'
          .wrapper-bar
            %span#result-bar{"data-src" => "/assets/bar984.png", "data-media" => "(max-width: 991px)"}
              %span{style: "max-width:100%;"}
                = image_tag("bar984.png", retina: true)
            %span#pointer{ "data-picture" => "", "data-alt" => "pointer", :style => "left: #{pointer_score_for(@questionnaire)}%;" }
              %span
                = image_tag("pointer@2x.png", retina: true)
        .overflow
          .content.subpage2
            - if @questionnaire.score == 0
              - result = Result.where(score_min: 0, score_max: 0).first
            - else
              - result = Result.where("score_min < ? AND score_max > ?", @questionnaire.score, @questionnaire.score).first
            - if @email.present?
              %p.email-text
                We have emailed the results to the email address you provided.
            %p.text
              - body = result.try(&:body)
              - if body.present?
                = body.html_safe
            %strong.title-accordion
              - intro = result.try(&:intro)
              - if intro.present?
                = intro.html_safe

          #accordion
            %ul.main-list
              - if @questionnaire.score == 0
                - resources = Resource.where(resource_type: "MAS", score: 0)
                %li{class: 'active'}
                  = link_to 'Money Advice Service Help', '#', class: 'active'
                  %ul.submenu{style: 'display: inline !important;'}
                    - resources.each do |resource|
                      %li
                        = link_to resource.url, target: "_blank" do
                          %span.images{"data-picture" => ""}
                            %span
                              = image_tag("mas@2x.png", retina: true)
                          %p.block= resource.title

              - else
                - resource_score = @questionnaire.score > 4 ? 5 : 4
                - resources = Resource.where(resource_type: "MAS", score: resource_score)
                %li
                  = link_to 'Money Advice Service Help', '#'
                  %ul.submenu
                    - resources.each do |resource|
                      %li
                        = link_to resource.url, target: "_blank" do
                          %span.images{"data-picture" => ""}
                            %span
                              = image_tag("mas@2x.png", retina: true)
                          %p.block= resource.title
                - @questionnaire.grouped_resources.each do |resource|
                  %li
                    - if resource.resources.size > 1
                      = link_to resource.category.title, '#'
                    - else
                      = link_to resource.question.heading, '#'
                    %ul.submenu
                      - resource.resources.uniq.each do |subresource|
                        %li
                          = link_to subresource.url, target: "_blank" do
                            %span.images{"data-picture" => ""}
                              %span
                                = image_tag("#{subresource.resource_type.downcase}@2x.png", style: 'height: 38px', retina: true)
                            %p.block= subresource.title
    %div
      %span.mobile-logo{style: 'z-index:-1; width: 170px; position:absolute; right:0px; margin-top: 5px; padding-bottom: 20px; padding-right: 10px;'}
        %p{style: 'font-size: 12px;'} In association with
        = image_tag("MAS_logo_lg@2x.png", style: 'width: 160px;', retina: true)


    .bg-popup
      .box-popup
        %span#close
          %span{"data-src" => "/assets/close.png"}
            = image_tag("close.png", retina: true, style: "height: 16px; width: 16px" )

        = form_tag(preview_questionnaire_email_path(@questionnaire),  id: "popup-email") do
          .input-text
            %label{for: "email"}
              Enter your email address
            %input{type: "email", name: "email", id: "email"}

          %input{type: "submit", name: "submit", value: "Send", class: "start-button"}

